<% content_for(:page_header) {t('.title')} %>
<%= form_for(:session, url: sessions_path) do |f| %>

  <div class="form-group">
    <%= f.label t('activerecord.attributes.user.email') %>
    <%= f.text_field :email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label  t('activerecord.attributes.user.password') %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>

  <%= f.submit t('forms.buttons.login'), class: "btn btn-large btn-primary" %>
<% end %>
