<div>
  <h4><%= t('articles.show.comment_by') %> <%= comment.author_mail %></h4>
  <small>IP: <%= comment.author_ip %></small>
  <p><%= comment.body %></p>
  <% if signed_in? and (current_user.admin? or current_user.editor?) %>
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
